@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.glass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #272643;
    padding: 3rem 10rem;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
}

.title h1 {
    text-align: center;
    margin: 0 0 3rem;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

p {
    color: #fff;
}

.selection-area {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.selection-boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.game-choice {
    font-size: 1.5rem;
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: none;
    background: #2c698d;
    transition: all 0.2s ease;
    border-radius: 15px;
    color: #fff;
}

#reset-button {
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 60px;
    background: #2c698d;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.game-choice:hover,
#reset-button:hover {
    background: #bae8e8;
    color: #000;
}

.outcome-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.outcome-boxes {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.outcome-boxes #player-div div,
.outcome-boxes #computer-div div {
    display: flex;
    height: 100px;
    width: 100px;
    background: #2c698d;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #000;
}

.outcome-boxes #player-div p,
.outcome-boxes #computer-div p {
    text-align: center;
    margin-top: 10px;
}

.score-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

/* Responsive resize: it shrinks the three "Rock Paper and Scissors" buttons to better fit in smaller screens and wraps them to be shown in two rows instead of one */
@media (max-width: 900px) {
    .game-choice {
        font-size: 1.25rem;
        height: 150px;
        width: 150px;
    }
    .selection-boxes {
        flex-wrap: wrap;
        width: 500px;
    }
    .glass {
        min-width: 450px;
    }
}